---
import type { CollectionEntry } from "astro:content";
import Base from "./Base.astro";

type Props = CollectionEntry<"songs">["data"];

const { name, wide, text, music, melody, from, misc } = Astro.props;
---

<Base title={name}>
  <main>
    <section class="info">
      <h1>{name}</h1>
      {
        melody && (
          <p>
            <em>Mel: {melody}</em>
          </p>
        )
      }
      {
        text && (
          <p>
            <em>Av {text}</em>
          </p>
        )
      }
      {
        from && (
          <p>
            <em>Ur {from}</em>
          </p>
        )
      }
    </section>
    <section class="content" class:list={["content", { wide }]}>
      <slot />
    </section>
  </main>
</Base>

<style>
  .info > p {
    margin-block: 0.25rem;
  }

  .content {
    --minFontSize: 80%;
    --maxFontSize: 24px;
    --scaler: 3.5vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    line-height: 1.4;

    white-space-collapse: collapse;
    text-wrap: nowrap;
    overflow-x: auto;
  }
</style>
